.skill_category {
  font-size: large;
}
.skill_item_wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.skill_item {
  max-width: 150px;
  min-width: 40px;

  min-height: 25px;
  border: 1px solid black;
  color: white;
  border-radius: 3px;
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
