.project_wrapper {
  border: 1px solid black;
  border-radius: 5px;

  height: 300px;
  /* width: 90vw; */
  width: 90%;
  padding: 5px;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
}

.project_slider_container {
  flex-grow: 1; /* 남은 공간 모두 차지 */
  overflow: hidden /* 영역밖은 숨김 */;
  /* width: 100%; */
  width: auto;
  height: 100%;
}

.project_slider {
  display: flex;
  flex-direction: row;
  /* 내부 프로젝트 크기만큼 너비가 늘어나도록 설정 */
  /* width: fit-content;  */
  height: 100%;
  transition: transform 0.3s ease-in-out;
}

.project_col {
  width: 100%;
  min-width: 100%;

  margin: 0px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-shrink: 0; /* 컨테이너가 좁아져도 절대 줄어들지 않도록 설정 */
}

.project_row {
  width: 100%;
  padding: 5px;

  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-between; */
}

.row_title {
  width: 100px;
  min-width: 100px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-shrink: 0;
}

.row_content {
  /* 
    flex-grow 를 사용하여 유연하게 공간을 채움, 
    min-width와 함께 사용하여 내용이 길어도 줄어들 수 있는 최소값 설정 
  */
  flex-grow: 1;
  min-width: 0;
  /* 
    줄 바꿈을 허용하여 내용이 넘처 흐르지 않게 한다. 
    줄 바꿈을 명시적으로 혀용
  */
  /*
    word-break: break-word;
  */

  width: auto;
  word-break: break-word;
}

.arrow {
  flex-shrink: 0; /* 화살표는 절대 줄어들지 않도록 고정 */
  z-index: 10;
  cursor: pointer;
  margin: 0 10px;
  width: 50px;
  height: 50px;
}

@media (max-width: 768px) {
  .project_wrapper {
    width: 95vw; /* 좁은 화면에서 조금 더 공간을 확보 */
  }

  /* 좁은 화면에서 화살표 크기 및 마진 축소 */
  .arrow {
    width: 30px;
    height: 30px;
    margin: 0 5px; /* 마진 축소 */
  }
}

@media (max-width: 576px) {
  /* 더 좁은 화면에서 상세 보기 아이콘 크기 축소 */
  .read_more_icon {
    width: 20px;
    height: 20px;
    margin: 0 3px;
  }
}
