@font-face {
  font-family: "grandifloraOne";
  src: url("./assests/fonts/Grandiflora_One/GrandifloraOne-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "jua";
  src: url("./assests/fonts/Jua/Jua-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "hiMelody";
  src: url("./assests/fonts/Hi_Melody/HiMelody-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "poorStory";
  src: url("./assests/fonts/Poor_Story/PoorStory-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

.title_left_blue_bar {
  /* 모바일에서는 100% 너비 */
  width: 100%;
  /* 왼쪽에 파란색 세로줄*/
  display: flex;
  flex-direction: column;
  border-left: 3px solid blue;
  margin-bottom: 10px;
  padding-left: 10px;
}

.item_title {
  font-size: 1.5em;
  font-weight: bold;
}

.list_wrapper {
  display: flex;
  flex-direction: column;
}
